:root{
    --white-color: white;
    --black-color: black;
    --text-color: #333;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
}
.grid__colunn-2{
    width: 16.667%;
    padding-left: 6px;
    padding-right: 6px;
}

.grid__column-10{
    width: 83.333%;
    padding-left: 6px;
    padding-right: 6px;
}

.grid__column-2-10{
    width: 20%;
    padding-left: 6px;
    padding-right: 6px;

}
.grid__row-2{
    display: flex;
}

/* page-direction */
.page-direction{
    display: flex;
    justify-content: center;
}
.page-direction-list{
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-direction-item{
    margin: 0 16px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    min-width: 40px;
    height: 30px;
    cursor: pointer;
}
.page-direction-item-active{
    background-color: #1796bd;
    color: white;
    

}



@keyframes fadeOut{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slide{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes fadeOutGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeOutGrowth-1{
    from{
        opacity: 0;
        transform: scale(0.6);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
